.img1{width: 200px;
				height: 200px;}
			.img2{width: 250px;
				height: 250px;}
				.tit{font-family: arial;
					color: yellow;
					font-size: 24px}
					.i{width:50px;
					height:50px; }
					.v{width:40px;
					height:40px; }
					.img3{width:20px;
					height:20px; }
					body{
						background-image: url("aaa.jpg") ;
					}
					table{
						text-align: center;
						background-color:#5a5326 ;
						opacity:0.85 ;
						width: 70%;
					}
					a:link {
  color: firebrick;
}
a:visited {
  color: deepskyblue;
}
a:hover {
  color: greenyellow;
}
a:active {
  color: lightpink;
}